<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %5p [%t] %c{1}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender with Rolling Policy -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Removed %i and kept time-based rotation -->
            <fileNamePattern>logs/audit-log-app.log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %5p [%t] %c{1}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
<!--        <appender-ref ref="rollingFile" />-->
        <appender-ref ref="console" />
    </root>

    <logger name="org.springframework.web" level="INFO" />
    <logger name="com.dss.auditlog" level="INFO" />

</configuration>
